.header {
    padding: 2.4rem 2.4rem 0rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: $bp-desktop) {
        padding: 7.3rem 8rem 0rem;
    }
}
