.section-features {
    padding: 12rem 2.6rem 0rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;

    @media only screen and (min-width: $bp-desktop) {
        padding: 15.8rem 28rem 0rem;
        row-gap: 7.9rem;
        column-gap: 14.7rem;
    }
}
