.section-productive {
    padding: 16rem 2.8rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.6rem;
    }

    &__heading {
        text-align: center;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding: 13.7rem 10.5rem 0rem;
        flex-direction: row;
        align-items: center;
        gap: 5.7rem;
    
        &__image {
            width: 61.5rem;
        }
    
        &__content {
            font-size: 1.6rem;
            line-height: 2.4rem;

            p:last-of-type {
                margin-bottom: 0.8rem;
            }
        }
    
        &__heading {
            margin-bottom: 0.3rem;
            text-align: left;
            max-width: 50rem;
        }
    }
}
