.section-hero {
    padding: 4.6rem 3.6rem 0rem 3.6rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
    align-items: center;

    &__image {
        width: 100%;
    }
    
    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    &__description {
        width: 29.6rem;
    }
}
