.testimonials-section {
    padding: 16.9rem 4.8rem 33.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
    position: relative;

    &::before {
        content: "";
        width: 3.2rem;
        height: 2.6rem;

        background: url('../../images/bg-quotes.png');
        background-size: contain;
        background-repeat: no-repeat;
        
        position: absolute;
        top: calc(16.9rem - 2.6rem);
        left: calc(4.8rem + 0.4rem);

        z-index: -1;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding: 17.9rem 0em 36rem;
        gap: 4rem;

        & > * {
            flex: 0 0 36rem;
        }
    
        &::before {
            width: 5.5rem;
            height: 4.5rem;
            left: 13rem;
            
        }
    }
}
