.contacts {
    list-style: none;
    
    &__grid {
        display: grid;
        row-gap: 1.6rem;
        grid-template-areas: 
            "loc"
            "tel"
            "mail";

        &-item-loc {
            grid-area: loc;
        }

        &-item-tel {
            grid-area: tel;
        }

        &-item-mail {
            grid-area: mail;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        display: flex;
        align-items: flex-start;
        column-gap: 1.6rem;
                    
        &::before {
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            display: inline-block;
            flex: 0 0 auto;
        }
            
        &--loc {
            font-size: 1.6rem;
            line-height: 2.4rem;

            &::before {
                background: no-repeat center url('../images/icon-location.svg');
                padding-top: 0.8rem;
            }
        }
    
        &--tel {
            &::before {
                background: no-repeat center url('../images/icon-phone.svg');
            }
        }
        
        &--mail {
            &::before {
                background: no-repeat center url('../images/icon-email.svg');
            }
        }
    }

    @media only screen and (min-width: $bp-desktop) {

        &__grid {
            grid-template-areas: 
                "loc tel"
                "loc mail";
            
            grid-template-columns: 37.5rem max-content;
            column-gap: 8rem;
        }
    }
}
