.navbar {

    .navlinks {
        list-style-type: none;
        display: flex;
        column-gap: 2.4rem;
    }

    .navlink {
        text-decoration: none;
        font-family: var(--ff-heading);
        font-size: 1.2rem;
        line-height: normal;
        color: inherit;

        &:hover {
            text-decoration: underline;
            font-weight: var(--fw-bold);
        }
    }

    @media only screen and (min-width: $bp-desktop) {

        .navlinks {
            column-gap: 5.7rem;
        }
    
        .navlink {
            font-size: 1.6rem;
        }
    }
}
