body {
    font-family: var(--ff-body);
    font-optical-sizing: auto;
    font-weight: var(--fw-regular);
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--color-white);

    @media only screen and (min-width: $bp-desktop) {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

.heading {
    font-family: var(--ff-heading);
    font-optical-sizing: auto;
    font-weight: var(--fw-bold);
    font-style: normal;

    &--1 {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    &--2 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    &--3 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    @media only screen and (min-width: $bp-desktop) {

        &--1 {
            font-size: 4rem;
            line-height: 6rem;
        }
    
        &--2 {
            font-size: 4rem;
            line-height: 5rem;
        }
    
        &--3 {
            font-size: 2rem;
            line-height: normal;
        }
    }
}
